* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_118 {
  width: 100%;
  height: 1812px;
  background: rgba(246,232,232,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_119 {
  width: 508px;
  height: 657px;
  background: rgba(247,247,247,1);
  opacity: 1;
  position: absolute;
  top: 244px;
  left: 888px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v1_120 {
  width: 624px;
  height: 521px;
  background: url("../images/v1_120.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 244px;
  left: 80px;
  overflow: hidden;
}
.v1_121 {
  width: 624px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v1_122 {
  width: 624px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 101px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_123 {
  width: 624px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 161px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v40_1601 {
  width: 100%;
  height: 264px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1548px;
  left: 0px;
  overflow: hidden;
}
.v40_1602 {
  width: 187px;
  height: 168px;
  background: url("../images/v40_1602.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 763px;
  overflow: hidden;
}
.v40_1603 {
  width: 187px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_1604 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 48px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_1605 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 96px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_1606 {
  width: 187px;
  height: 243px;
  background: url("../images/v40_1606.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 1096px;
  overflow: hidden;
}
.v40_1607 {
  width: 187px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 13px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_1608 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 61px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_1609 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 109px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_1610 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 157px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_1611 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 205px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_1612 {
  width: 111px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 43px;
  left: 80px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v40_1613 {
  width: 184px;
  height: 40px;
  background: url("../images/v40_1613.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 176px;
  left: 80px;
  overflow: hidden;
}
.v40_1614 {
  width: 40px;
  height: 40px;
  background: url("../images/v40_1614.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v40_1615 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v40_1619 {
  width: 40px;
  height: 40px;
  background: url("../images/v40_1619.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 48px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v40_1620 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v40_1624 {
  width: 40px;
  height: 40px;
  background: url("../images/v40_1624.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 96px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v40_1625 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v40_1629 {
  width: 40px;
  height: 40px;
  background: url("../images/v40_1629.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 144px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v40_1630 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v40_1635 {
  width: 50px;
  height: 45px;
  background: url("../images/v40_1635.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 196px;
  overflow: hidden;
}
.v40_1636 {
  width: 42px;
  height: 38px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 4px;
  border-radius: 50%;
}
.v40_1637 {
  width: 30px;
  height: 28px;
  background: rgba(35,31,31,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 14px;
  border-radius: 50%;
}
.v40_1638 {
  width: 20px;
  height: 18px;
  background: rgba(244,138,138,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 22px;
  border-radius: 50%;
}
.v22_912 {
  width: 676px;
  height: 471px;
  background: url("../images/v22_912.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 955px;
  left: 740px;
  overflow: hidden;
}
.v22_913 {
  width: 515px;
  height: 114px;
  background: url("../images/v22_913.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v22_945 {
  width: 37px;
  height: 32px;
  background: url("../images/v22_945.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v22_916 {
  width: 515px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 40px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v22_917 {
  width: 515px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 84px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v22_918 {
  width: 515px;
  height: 144px;
  background: url("../images/v22_918.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 162px;
  left: 0px;
  overflow: hidden;
}
.v22_948 {
  width: 38px;
  height: 32px;
  background: url("../images/v22_948.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v22_920 {
  width: 515px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 40px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v22_921 {
  width: 515px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 84px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v22_922 {
  width: 515px;
  height: 117px;
  background: url("../images/v22_922.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 354px;
  left: 0px;
  overflow: hidden;
}
.v22_951 {
  width: 34px;
  height: 35px;
  background: url("../images/v22_951.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v22_924 {
  width: 515px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 43px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v22_925 {
  width: 515px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 87px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v22_897 {
  width: 676px;
  height: 524px;
  background: url("../images/v22_897.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 955px;
  left: 44px;
  overflow: hidden;
}
.v22_898 {
  width: 515px;
  height: 144px;
  background: url("../images/v22_898.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v22_899 {
  width: 32px;
  height: 32px;
  background: url("../images/v22_899.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v22_900 {
  width: 35px;
  height: 42px;
  background: url("../images/v22_900.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 1px;
  overflow: hidden;
}
.v22_901 {
  width: 515px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 40px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v22_902 {
  width: 515px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 84px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v22_903 {
  width: 515px;
  height: 142px;
  background: url("../images/v22_903.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 192px;
  left: 0px;
  overflow: hidden;
}
.v22_904 {
  width: 34px;
  height: 30px;
  background: url("../images/v22_904.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v22_905 {
  width: 515px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 38px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v22_906 {
  width: 515px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 82px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v22_907 {
  width: 515px;
  height: 142px;
  background: url("../images/v22_907.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 382px;
  left: 0px;
  overflow: hidden;
}
.v22_908 {
  width: 33px;
  height: 30px;
  background: url("../images/v22_908.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v22_909 {
  width: 515px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 38px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v22_910 {
  width: 515px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 82px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v22_927 {
  width: 624px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 855px;
  left: 44px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v67_609 {
  width: 100%;
  height: 148px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v67_610 {
  width: 255px;
  height: 52px;
  background: url("../images/v67_610.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 45px;
  opacity: 1;
  position: absolute;
  top: 57px;
  left: 1160px;
  overflow: hidden;
}
.v67_611 {
  width: 95px;
  height: 52px;
  background: url("../images/v67_611.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 5px;
  overflow: hidden;
}
.v67_612 {
  width: 95px;
  height: 52px;
  background: rgba(247,224,224,1);
  padding: 14px 24px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v67_613 {
  width: 47px;
  color: rgba(255,77,77,1);
  position: absolute;
  top: 14px;
  left: 24px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v67_614 {
  width: 110px;
  height: 52px;
  background: rgba(249,32,32,1);
  padding: 14px 24px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 145px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v67_615 {
  width: 62px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 24px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v67_616 {
  width: 176px;
  height: 64px;
  background: url("../images/v67_616.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 44px;
  overflow: hidden;
}
.v67_617 {
  width: 70px;
  height: 64px;
  background: url("../images/v67_617.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v67_618 {
  width: 50px;
  height: 45px;
  background: url("../images/v67_618.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 6px;
  overflow: hidden;
}
.v67_619 {
  width: 50px;
  height: 45px;
  background: url("../images/v67_619.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v67_620 {
  width: 42px;
  height: 38px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 4px;
  border-radius: 50%;
}
.v67_621 {
  width: 30px;
  height: 28px;
  background: rgba(35,31,31,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 14px;
  border-radius: 50%;
}
.v67_622 {
  width: 20px;
  height: 18px;
  background: rgba(244,138,138,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 22px;
  border-radius: 50%;
}
.v67_623 {
  width: 120px;
  height: 41px;
  background: url("../images/v67_623.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 70px;
  overflow: hidden;
}
.v67_624 {
  width: 120px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: right;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
