* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v37_800 {
  width: 100%;
  height: 1261px;
  background: rgba(255,238,238,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v37_803 {
  width: 100%;
  height: 160px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v37_813 {
  width: 180px;
  height: 54px;
  background: url("../images/v37_813.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 96px;
  overflow: hidden;
}
.v37_814 {
  width: 120px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 54px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: right;
}
.v37_815 {
  width: 50px;
  height: 45px;
  background: url("../images/v37_815.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 4px;
  overflow: hidden;
}
.v37_816 {
  width: 42px;
  height: 38px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 4px;
  border-radius: 50%;
}
.v37_817 {
  width: 30px;
  height: 28px;
  background: rgba(35,31,31,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 14px;
  border-radius: 50%;
}
.v37_818 {
  width: 20px;
  height: 18px;
  background: rgba(244,138,138,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 22px;
  border-radius: 50%;
}
.name {
  color: #fff;
}
.v37_827 {
  width: 270px;
  height: 608px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 179px;
  left: 48px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v37_845 {
  width: 81px;
  height: 44px;
  background: rgba(247,224,224,1);
  padding: 20px 32px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 657px;
  left: 150px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v37_846 {
  width: 73px;
  color: rgba(255,77,77,1);
  position: absolute;
  top: 7px;
  left: 11px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v37_835 {
  width: 239px;
  height: 80px;
  background: url("../images/v37_835.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 427px;
  left: 63px;
  overflow: hidden;
}
.v37_836 {
  width: 239px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v37_837 {
  width: 239px;
  height: 48px;
  background: rgba(255,255,255,1);
  padding: 12px 16px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v37_838 {
  width: 207px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 12px;
  left: 16px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v37_840 {
  width: 239px;
  height: 80px;
  background: url("../images/v37_840.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 536px;
  left: 63px;
  overflow: hidden;
}
.v37_841 {
  width: 239px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v37_842 {
  width: 239px;
  height: 48px;
  background: rgba(255,255,255,1);
  padding: 12px 16px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v37_843 {
  width: 207px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 12px;
  left: 16px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v37_828 {
  width: 102px;
  height: 101px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 209px;
  left: 135px;
  overflow: hidden;
}
.v37_829 {
  width: 85px;
  height: 84px;
  background: url("../images/v37_829.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.v37_830 {
  width: 85px;
  height: 84px;
  background: url("../images/v37_830.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1.5px solid rgba(0,0,0,1);
}
.v37_831 {
  width: 65px;
  height: 51px;
  background: url("../images/v37_831.png");
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 9px;
  border: 1.5px solid rgba(0,0,0,1);
}
.v37_832 {
  width: 97px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 306px;
  left: 138px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v37_833 {
  width: 96px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 375px;
  left: 138px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v37_849 {
  width: 856px;
  height: 696px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 186px;
  left: 454px;
  box-shadow: 0px 4px 4px rgba(0.6066665649414062, 0.5581331849098206, 0.5581331849098206, 0.25);
  overflow: hidden;
}
.v37_898 {
  width: 149px;
  height: 76px;
  background: rgba(249,32,32,1);
  padding: 20px 32px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 787px;
  left: 770px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v37_899 {
  width: 85px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 20px;
  left: 32px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v37_888 {
  width: 299px;
  height: 80px;
  background: url("../images/v37_888.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 568px;
  left: 876px;
  overflow: hidden;
}
.v37_889 {
  width: 299px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v37_890 {
  width: 299px;
  height: 48px;
  background: rgba(255,255,255,1);
  padding: 12px 16px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v37_891 {
  width: 267px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 12px;
  left: 16px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v37_893 {
  width: 299px;
  height: 80px;
  background: url("../images/v37_893.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 693px;
  left: 876px;
  overflow: hidden;
}
.v37_894 {
  width: 299px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v37_895 {
  width: 299px;
  height: 48px;
  background: rgba(255,255,255,1);
  padding: 12px 16px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v37_896 {
  width: 267px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 12px;
  left: 16px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v37_878 {
  width: 299px;
  height: 80px;
  background: url("../images/v37_878.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 328px;
  left: 876px;
  overflow: hidden;
}
.v37_879 {
  width: 299px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v37_880 {
  width: 299px;
  height: 48px;
  background: rgba(255,255,255,1);
  padding: 12px 16px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v37_881 {
  width: 267px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 12px;
  left: 16px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v37_883 {
  width: 299px;
  height: 80px;
  background: url("../images/v37_883.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 443px;
  left: 876px;
  overflow: hidden;
}
.v37_884 {
  width: 299px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v37_885 {
  width: 299px;
  height: 48px;
  background: rgba(255,255,255,1);
  padding: 12px 16px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v37_886 {
  width: 267px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 12px;
  left: 16px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v37_868 {
  width: 299px;
  height: 80px;
  background: url("../images/v37_868.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 568px;
  left: 503px;
  overflow: hidden;
}
.v37_869 {
  width: 299px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v37_870 {
  width: 299px;
  height: 48px;
  background: rgba(255,255,255,1);
  padding: 12px 16px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v37_871 {
  width: 267px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 12px;
  left: 16px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v37_873 {
  width: 299px;
  height: 80px;
  background: url("../images/v37_873.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 694px;
  left: 503px;
  overflow: hidden;
}
.v37_874 {
  width: 299px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v37_875 {
  width: 299px;
  height: 48px;
  background: rgba(255,255,255,1);
  padding: 12px 16px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v37_876 {
  width: 267px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 12px;
  left: 16px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v37_858 {
  width: 299px;
  height: 80px;
  background: url("../images/v37_858.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 328px;
  left: 503px;
  overflow: hidden;
}
.v37_859 {
  width: 299px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v37_860 {
  width: 299px;
  height: 48px;
  background: rgba(255,255,255,1);
  padding: 12px 16px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v37_861 {
  width: 267px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 12px;
  left: 16px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v37_863 {
  width: 299px;
  height: 80px;
  background: url("../images/v37_863.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 442px;
  left: 503px;
  overflow: hidden;
}
.v37_864 {
  width: 299px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v37_865 {
  width: 299px;
  height: 48px;
  background: rgba(255,255,255,1);
  padding: 12px 16px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v37_866 {
  width: 267px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 12px;
  left: 16px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v37_850 {
  width: 248px;
  height: 94px;
  background: rgba(255,211,211,1);
  opacity: 1;
  position: absolute;
  top: 179px;
  left: 554px;
  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v37_851 {
  width: 248px;
  height: 98px;
  background: rgba(255,242,242,1);
  opacity: 1;
  position: absolute;
  top: 179px;
  left: 951px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v37_856 {
  width: 188px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 210px;
  left: 987px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v37_855 {
  width: 112px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 210px;
  left: 622px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v40_2181 {
  width: 100%;
  height: 264px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 997px;
  left: 0px;
  overflow: hidden;
}
.v40_2182 {
  width: 187px;
  height: 168px;
  background: url("../images/v40_2182.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 736px;
  overflow: hidden;
}
.v40_2183 {
  width: 187px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_2184 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 48px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_2185 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 96px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_2186 {
  width: 187px;
  height: 243px;
  background: url("../images/v40_2186.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 1058px;
  overflow: hidden;
}
.v40_2187 {
  width: 187px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 13px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_2188 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 61px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_2189 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 109px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_2190 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 157px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_2191 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 205px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_2192 {
  width: 111px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 43px;
  left: 80px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v40_2193 {
  width: 184px;
  height: 40px;
  background: url("../images/v40_2193.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 176px;
  left: 80px;
  overflow: hidden;
}
.v40_2194 {
  width: 40px;
  height: 40px;
  background: url("../images/v40_2194.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v40_2195 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v40_2199 {
  width: 40px;
  height: 40px;
  background: url("../images/v40_2199.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 48px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v40_2200 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v40_2204 {
  width: 40px;
  height: 40px;
  background: url("../images/v40_2204.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 96px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v40_2205 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v40_2209 {
  width: 40px;
  height: 40px;
  background: url("../images/v40_2209.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 144px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v40_2210 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v40_2217 {
  width: 50px;
  height: 45px;
  background: url("../images/v40_2217.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 199px;
  overflow: hidden;
}
.v40_2218 {
  width: 42px;
  height: 38px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 4px;
  border-radius: 50%;
}
.v40_2219 {
  width: 30px;
  height: 28px;
  background: rgba(35,31,31,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 14px;
  border-radius: 50%;
}
.v40_2220 {
  width: 20px;
  height: 18px;
  background: rgba(244,138,138,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 22px;
  border-radius: 50%;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
