* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_266 {
  width: 100%;
  height: 3281px;
  background: rgba(246,232,232,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_267 {
  width: 515px;
  height: 863px;
  background: url("../images/v1_267.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 1976px;
  left: 847px;
  overflow: hidden;
}
.v1_268 {
  width: 515px;
  height: 411px;
  background: url("../images/v1_268.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v30_38 {
  width: 515px;
  height: 289px;
  background: url("../images/v30_38.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_270 {
  width: 515px;
  height: 104px;
  background: url("../images/v1_270.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 313px;
  left: 0px;
  overflow: hidden;
}
.v1_271 {
  width: 515px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_272 {
  width: 515px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 40px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_273 {
  width: 515px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 74px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_274 {
  width: 515px;
  height: 411px;
  background: url("../images/v1_274.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 451px;
  left: 0px;
  overflow: hidden;
}
.v30_40 {
  width: 515px;
  height: 272px;
  background: url("../images/v30_40.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_276 {
  width: 515px;
  height: 104px;
  background: url("../images/v1_276.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 296px;
  left: 0px;
  overflow: hidden;
}
.v1_277 {
  width: 515px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_278 {
  width: 515px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 40px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_279 {
  width: 515px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 74px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_280 {
  width: 735px;
  height: 863px;
  background: url("../images/v1_280.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 1976px;
  left: 80px;
  overflow: hidden;
}
.v30_36 {
  width: 735px;
  height: 662px;
  background: url("../images/v30_36.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_282 {
  width: 735px;
  height: 104px;
  background: url("../images/v1_282.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 686px;
  left: 0px;
  overflow: hidden;
}
.v1_283 {
  width: 735px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_284 {
  width: 735px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 40px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_285 {
  width: 735px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 74px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_286 {
  width: 742px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1870px;
  left: 80px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v37_1194 {
  width: 100%;
  height: 160px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
  overflow: hidden;
}
.v37_1204 {
  width: 180px;
  height: 54px;
  background: url("../images/v37_1204.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 96px;
  overflow: hidden;
}
.v37_1205 {
  width: 120px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 54px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: right;
}
.v37_1206 {
  width: 50px;
  height: 45px;
  background: url("../images/v37_1206.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 4px;
  overflow: hidden;
}
.v37_1207 {
  width: 42px;
  height: 38px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 4px;
  border-radius: 50%;
}
.v37_1208 {
  width: 30px;
  height: 28px;
  background: rgba(35,31,31,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 14px;
  border-radius: 50%;
}
.v37_1209 {
  width: 20px;
  height: 18px;
  background: rgba(244,138,138,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 22px;
  border-radius: 50%;
}
.name {
  color: #fff;
}
.v40_1562 {
  width: 100%;
  height: 264px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3017px;
  left: 0px;
  overflow: hidden;
}
.v40_1563 {
  width: 187px;
  height: 168px;
  background: url("../images/v40_1563.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 763px;
  overflow: hidden;
}
.v40_1564 {
  width: 187px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_1565 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 48px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_1566 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 96px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_1567 {
  width: 187px;
  height: 243px;
  background: url("../images/v40_1567.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 1096px;
  overflow: hidden;
}
.v40_1568 {
  width: 187px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 13px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_1569 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 61px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_1570 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 109px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_1571 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 157px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_1572 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 205px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_1573 {
  width: 111px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 43px;
  left: 80px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v40_1574 {
  width: 184px;
  height: 40px;
  background: url("../images/v40_1574.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 176px;
  left: 80px;
  overflow: hidden;
}
.v40_1575 {
  width: 40px;
  height: 40px;
  background: url("../images/v40_1575.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v40_1576 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v40_1580 {
  width: 40px;
  height: 40px;
  background: url("../images/v40_1580.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 48px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v40_1581 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v40_1585 {
  width: 40px;
  height: 40px;
  background: url("../images/v40_1585.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 96px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v40_1586 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v40_1590 {
  width: 40px;
  height: 40px;
  background: url("../images/v40_1590.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 144px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v40_1591 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v40_1596 {
  width: 50px;
  height: 45px;
  background: url("../images/v40_1596.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 196px;
  overflow: hidden;
}
.v40_1597 {
  width: 42px;
  height: 38px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 4px;
  border-radius: 50%;
}
.v40_1598 {
  width: 30px;
  height: 28px;
  background: rgba(35,31,31,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 14px;
  border-radius: 50%;
}
.v40_1599 {
  width: 20px;
  height: 18px;
  background: rgba(244,138,138,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 22px;
  border-radius: 50%;
}
.v37_1249 {
  width: 599px;
  height: 357px;
  background: url("../images/v37_1249.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1336px;
  left: 80px;
  overflow: hidden;
}
.v1_343 {
  width: 516px;
  height: 268px;
  background: url("../images/v1_343.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 926px;
  left: 80px;
  overflow: hidden;
}
.v1_344 {
  width: 516px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v1_345 {
  width: 516px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 72px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v1_346 {
  width: 316px;
  height: 52px;
  background: url("../images/v1_346.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 216px;
  left: 0px;
  overflow: hidden;
}
.v30_26 {
  width: 125px;
  height: 52px;
  background: rgba(249,32,32,1);
  padding: 14px 24px;
  margin: 8px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v30_27 {
  width: 77px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 24px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v30_22 {
  width: 175px;
  height: 52px;
  background: url("../images/v30_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 141px;
  overflow: hidden;
}
.v30_23 {
  width: 175px;
  height: 52px;
  background: rgba(247,224,224,1);
  padding: 14px 24px;
  margin: 8px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v30_24 {
  width: 127px;
  color: rgba(255,77,77,1);
  position: absolute;
  top: 14px;
  left: 24px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_351 {
  width: 516px;
  height: 268px;
  background: url("../images/v1_351.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 1406px;
  left: 844px;
  overflow: hidden;
}
.v1_352 {
  width: 516px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v1_353 {
  width: 516px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 72px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v30_29 {
  width: 316px;
  height: 52px;
  background: url("../images/v30_29.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 216px;
  left: 0px;
  overflow: hidden;
}
.v30_30 {
  width: 125px;
  height: 52px;
  background: rgba(249,32,32,1);
  padding: 14px 24px;
  margin: 8px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v30_31 {
  width: 77px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 24px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v30_32 {
  width: 175px;
  height: 52px;
  background: url("../images/v30_32.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 141px;
  overflow: hidden;
}
.v30_33 {
  width: 175px;
  height: 52px;
  background: rgba(247,224,224,1);
  padding: 14px 24px;
  margin: 8px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v30_34 {
  width: 127px;
  color: rgba(255,77,77,1);
  position: absolute;
  top: 14px;
  left: 24px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v37_852 {
  width: 599px;
  height: 357px;
  background: url("../images/v37_852.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 894px;
  left: 763px;
  overflow: hidden;
}
.v1_290 {
  width: 844px;
  height: 140px;
  background: url("../images/v1_290.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 369px;
  left: 253px;
  overflow: hidden;
}
.v1_291 {
  width: 844px;
  color: rgba(15,14,14,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v1_292 {
  width: 844px;
  color: rgba(15,14,14,1);
  position: absolute;
  top: 106px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
