* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
/* ĐỊNH DẠNG LẠI CÁC DÒNG CÓ GẮN LINK*/
.NoneUnderline{
  text-decoration: none;
}
.TextColorWhite{
  color:rgba(255,255,255);
}
.TextColorBlack{
  color: rgba(0,0,0);
}
.TextColorRed{
  color:rgb(249, 32, 32);
}
/********************************************/
/*******************HEADER*******************/
/********************************************/

.v22_303 {
  width: 100%;
  height: 160px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v22_304 {
  width: 95px;
  height: 53px;
  background: url("../images/v22_304.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 45px;
  opacity: 1;
  position: absolute;
  top: 75px;
  left: 1202px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v22_329 {
  width: 95px;
  height: 53px;
  background: rgba(247,224,224,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v22_330 {
  width: 100px;
  height: 100px;
  background: url("../images/v22_330.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 3px;
  overflow: hidden;
}
.v22_332 {
  width: 47px;
  color: rgba(255,77,77,1);
  position: absolute;
  top: 63px;
  left: 22px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v22_1019 {
  width: 174px;
  height: 54px;
  background: url("../images/v22_1019.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 66px;
  left: 100px;
  overflow: hidden;
}
.v22_309 {
  width: 120px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 7px;
  left: 50px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: right;
}
.v22_316 {
  width: 50px;
  height: 45px;
  background: url("../images/v22_316.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  overflow: hidden;
}
.v22_317 {
  width: 42px;
  height: 38px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 4px;
  border-radius: 50%;
}
.v22_318 {
  width: 30px;
  height: 28px;
  background: rgba(35,31,31,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 14px;
  border-radius: 50%;
}
.v22_319 {
  width: 20px;
  height: 18px;
  background: rgba(244,138,138,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 22px;
  border-radius: 50%;
}
/***************************************/
/*BODY*/
/***************************************/
/***************************************/
/*FOOTER*/
/***************************************/

.v22_251 {
  width: 100%;
  height: 1183px;
  background: rgba(244,244,244,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v22_252 {
  width: 100%;
  height: 401px;
  background: url("../images/v22_252.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 695px;
  left: 100px;
  transform: rotate(-25deg);
  overflow: hidden;
}
.v22_253 {
  width: 514px;
  height: 531px;
  background: url("../images/v22_253.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 257px;
  left: 408px;
  overflow: hidden;
}
.v22_254 {
  width: 514px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 9px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v22_259 {
  width: 514px;
  height: 80px;
  background: url("../images/v22_259.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 0px;
  overflow: hidden;
}
.v22_260 {
  width: 514px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v22_261 {
  width: 514px;
  height: 48px;
  background: rgba(255,255,255,1);
  padding: 12px 16px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v22_262 {
  width: 482px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 12px;
  left: 16px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v22_255 {
  width: 514px;
  height: 80px;
  background: url("../images/v22_255.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 185px;
  left: 0px;
  overflow: hidden;
}
.v22_256 {
  width: 514px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v22_257 {
  width: 514px;
  height: 48px;
  background: rgba(255,255,255,1);
  padding: 12px 16px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v22_258 {
  width: 482px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 12px;
  left: 16px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v22_333 {
  width: 514px;
  height: 80px;
  background: url("../images/v22_333.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 289px;
  left: 0px;
  overflow: hidden;
}
.v22_334 {
  width: 514px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v22_335 {
  width: 514px;
  height: 48px;
  background: rgba(255,255,255,1);
  padding: 12px 16px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v22_336 {
  width: 482px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 12px;
  left: 16px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v22_338 {
  width: 514px;
  height: 80px;
  background: url("../images/v22_338.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 393px;
  left: 0px;
  overflow: hidden;
}
.v22_339 {
  width: 514px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v22_340 {
  width: 514px;
  height: 48px;
  background: rgba(255,255,255,1);
  padding: 12px 16px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v22_341 {
  width: 482px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 12px;
  left: 16px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v22_263 {
  width: 247px;
  color: url("../images/v22_263.png");
  position: absolute;
  top: 497px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v22_264 {
  width: 515px;
  height: 52px;
  background: rgba(247,224,224,1);
  padding: 14px 24px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 788px;
  left: 409px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v22_265 {
  width: 64px;
  color: rgba(255,77,77,1);
  position: absolute;
  top: 14px;
  left: 225px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_1483 {
  width: 100%;
  height: 264px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 919px;
  left: 20px;
  overflow: hidden;
}
.v40_1484 {
  width: 187px;
  height: 168px;
  background: url("../images/v40_1484.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 763px;
  overflow: hidden;
}
.v40_1485 {
  width: 187px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_1486 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 48px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_1487 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 96px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_1488 {
  width: 187px;
  height: 243px;
  background: url("../images/v40_1488.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 1096px;
  overflow: hidden;
}
.v40_1489 {
  width: 187px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 13px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_1490 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 61px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_1491 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 109px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_1492 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 157px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_1493 {
  width: 187px;
  color: rgba(68,68,68,1);
  position: absolute;
  top: 205px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v40_1494 {
  width: 111px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 43px;
  left: 80px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v40_1495 {
  width: 184px;
  height: 40px;
  background: url("../images/v40_1495.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 176px;
  left: 80px;
  overflow: hidden;
}
.v40_1496 {
  width: 40px;
  height: 40px;
  background: url("../images/v40_1496.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v40_1497 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v40_1501 {
  width: 40px;
  height: 40px;
  background: url("../images/v40_1501.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 48px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v40_1502 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v40_1506 {
  width: 40px;
  height: 40px;
  background: url("../images/v40_1506.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 96px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v40_1507 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v40_1511 {
  width: 40px;
  height: 40px;
  background: url("../images/v40_1511.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 144px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v40_1512 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v40_1518 {
  width: 50px;
  height: 45px;
  background: url("../images/v40_1518.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 196px;
  overflow: hidden;
}
.v40_1519 {
  width: 42px;
  height: 38px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 4px;
  border-radius: 50%;
}
.v40_1520 {
  width: 30px;
  height: 28px;
  background: rgba(35,31,31,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 14px;
  border-radius: 50%;
}
.v40_1521 {
  width: 20px;
  height: 18px;
  background: rgba(244,138,138,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 22px;
  border-radius: 50%;
}

.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}